// NAVIGATION

// General 
nav ul {
	list-style: none;
	padding-left: 0;

	a {		
		// text-transform: uppercase;
		color: $mainColor;
		font: {
			family: $navFont;
			size: 1em;
		} 
	}
	
}


// Main Navigation
.nav-wrapper {
	padding-top: 1em;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.9);

	// ....version of logo without hover img change...
	// .logo {
	// 	padding: 0 1.2em;
	// 	img {
	// 		max-width: 4em;
	// 	}
	// 	:hover {

	// 	}
	// }

	.logo {
		margin-left: 1.2em;
		float: left;
		width: 4em;
		height: 2em;
		display: block;
		background-image: url("../images/logo-6.svg");
		background-repeat: no-repeat;
		&:hover {
			background-image: url("../images/logo-6-hover.svg");
			background-position: 0 7px;
		}
	}

	.main-nav {
		padding: 0 1.2em;
		text-align: center;
	}

	// clearfix
	&:after {
		content: "";
  		display: table;
  		clear: both;
	}
}



// Toggle Mobile Nav
.show-mobile-nav .main-nav {
	// Opened 
	height: 150px;
}

.main-nav {
	// Closed  
	height: 0;
	overflow: hidden;
	transition: height 0.4s ease;
	width: 100%;
	flex: 0 0 100%;
	padding-right: 0;

	li {
		margin-top: 1em;
	}

	a {
		width: 100%;
		margin-left: 0;
		font-size: 1.3em;
		font-weight: 500;
	}
}



.btnMenu {
	float: right;
	padding: 0 1.2em;
	font: {
		family: $navFont;
		size: 1.1em;
		weight: 500;
	}
	border: none;
	background-color: transparent;
	// &:before {
	// 	content:"";
	// 	position: absolute;
	// 	width: 10%;
	// 	bottom: 0;
	// 	border-bottom: 2px solid $secondaryColor;
	// }

}












