// VARIABLES

// Colors
$mainColor: #000;
$mainColor-light: lighten($mainColor, 3);

$secondaryColor: #92ffe5;
$secondaryColor-light: lighten($secondaryColor, 6);
$secondaryColor-lightest: lighten($secondaryColor, 10);
$secondaryColor-dark: darken($secondaryColor, 8);

$tertiaryColor: #7B68EE;
$tertiaryColor-light: lighten($tertiaryColor, 5);
$tertiaryColor-dark: darken($tertiaryColor, 8);


// gradient
// $gradient: linear-gradient(to right, #ffafbd, #ffc3a0);



// Typography
$navFont: Poppins, sans-serif;
$navFont: Work Sans, sans-serif;

$headFont: Poppins, sans-serif;
$headFont: Work Sans, sans-serif;


$bodyFont: Muli, sans-serif;
$bodyFont: Work Sans, sans-serif;



