// VARIABLES

// Colors
$mainColor: #000000;
$mainColor-light: lighten($mainColor, 3);
// $mainColor-dark: darken($mainColor, 5);
$secondaryColor: #92ffe5;
$secondaryColor-light: lighten($secondaryColor, 5);
$secondaryColor-dark: darken($secondaryColor, 8);



// Typography
$navFont: Poppins, sans-serif;
$navFont: Work Sans, sans-serif;

$headFont: Poppins, sans-serif;
$headFont: Work Sans, sans-serif;


$bodyFont: Muli, sans-serif;
$bodyFont: Work Sans, sans-serif;




