@charset "utf-8";

@import "resets";
@import "variables";
@import "navigation";


// Accessibility
// Text for screen readers
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: white;
	clip: auto !important;
	color: black;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; 
}


// General styles
::selection {
    background: $secondaryColor-light;
}

*:focus {
	outline: 1px dotted $secondaryColor-dark;
}

h1,h2 {
	font: {
		family: $headFont;
		weight: 500;
	}
	line-height: 1.4;
}

h2 {
	font: {
		size: 1.3em;
	}
}

h3 {
	margin: 0 auto;
}


p {
	font: {
		family: $bodyFont;
	}
}

a {
	text-decoration: none;
	cursor: pointer;
	color:$tertiaryColor-dark;
}

section {
	padding-bottom: 1em;
}

.centered {
	margin: 0 auto;
	padding-left: 1.2em;
	padding-right: 1.2em;

	@media (min-width: 768px) {
		padding-left: 2em;
		padding-right: 2em;
	}
}



// Buttons & links
.view-all {
	border: 2px solid $secondaryColor;
	padding: 0.5em;
	color: $mainColor;
	font: {
		family: $navFont;
		weight: 500;
	}
	&:hover,
	&:focus {
		background-color: $secondaryColor-light;
	}
	
}


// Intro section
.intro {
	padding-top: 5em;

	// p,h1,h2 {
	// 	max-width: 570px;
	// }

	span {
		position: relative;
	}
	span:after {
		content: "";
		display: block;
		position: absolute;
		bottom: -4px;
		left: 6px;
		height: 18px;
		width: 90%;
		background: $secondaryColor-lightest;
		z-index: -10;
	}

}


// Project thumbnails section
.grid {
	padding-bottom: 2em;
}

.grid-sizer,
.grid-item {
	width: 100%;
}

.grid-item {
	overflow: hidden;
	position: relative;
	margin-bottom: 0.4em;
	background: $tertiaryColor-dark;
	-webkit-backface-visibility: hidden;

	img {	
		display: block;
		opacity: 1;
		transform: scale(1);
		transition: all 0.5s ease;
	}

	.text-overlay {
		z-index: 500;
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: white;
		text-align: center;
		transition: all 0.5s ease;
		opacity: 0;
	}

	&:hover,
	&:focus {
		img {
			transform: scale(1.1);
			opacity: 0.2;
		}

		.text-overlay {
			opacity: 1;
		}
	}
}

// .white-bg {
// 	box-shadow: 0 0 40px 5px rgba(100,100,100,0.3);
// }


// Footer
footer {
	padding-top: 4em;
	padding-bottom: 2em;
}



