@charset "utf-8";

@import "resets";
@import "variables";
@import "navigation";
@import "projectpage";


/* Accessibility
--------------------------------------------------------- */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: white;
	clip: auto !important;
	color: black;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; 
}


/* General
--------------------------------------------------------- */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    border: 1px solid black;
}
 
::-webkit-scrollbar-thumb {
    background: black; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: black;
}

::selection {
    background: $secondaryColor-light;
}

*:focus {
	outline: 1px dotted $secondaryColor;
}

// clearfix
.clear:after { 
	display: table; 
	content: ''; 
	clear: both; 
}


body {
	max-width: 1920px;
}

h1,h2 {
	font: {
		family: $headFont;
		weight: 500;
	}
	line-height: 1.4;
	text-align: center;
	margin: 0 auto;
}

h1 {
	font-size: 2.4em;
	margin: 1.6rem auto 0;
}

h2 {
	font-size: 1.6em;
	margin: 1rem auto 1rem;
}

h3 {
	margin: 0 auto;
}

p {
	margin: 1.5em auto 1.5em;
	font: {
		family: $bodyFont;
		weight: 300;
		size: 15px;
	}
}

a {
	text-decoration: none;
	cursor: pointer;
	color:$tertiaryColor-dark;
	font-family: $bodyFont;
}

.centered {
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;

	@media (min-width: 768px) {
		padding-left: 4%;
		padding-right: 4%;
	}
}


/* Header Section
--------------------------------------------------------- */
header {
	height: 300px;
	transition: height 0.3s ease;
	@media (min-width: 450px){
		height: 380px;
    }
	@media (min-width: 530px){
		height: 430px;
	}
}
.parallax {
    position: absolute;
    width: 100%;
    height: 600px;
    overflow: hidden;
    left: 0;    
}
.confetti {
    position: absolute;
    width: 180%;
    height: 600px;
    left:0;
    margin-top: 20px;
    background-position: top center;
    background-repeat: repeat-x;
    transition: width 0.3s ease-in-out;
    @media (min-width: 480px){
		width: 180%;
    }
	@media (min-width: $breakpointMobile){
		width: 130%;
	}
	@media (min-width: 850px){
		width: 100%;
	}
}
.confetti-blue {
    background-image: url('../images/confetti-blue-2.svg');
}
.confetti-green {
    background-image: url('../images/confetti-green-2.svg');
}
.confetti-purple {
    background-image: url('../images/confetti-purple-2.svg');
}

@keyframes floating {
	0% {
		transform: translatey(0);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0);
	}
}

.balloon {
	width: 100%;
	// transition: all 0.5s ease-in-out;
	transform: translatey(0);
	animation: floating 3.5s ease-in-out infinite;
	img {
		width: 50%;
		max-width: 280px;
		display: block;
		margin: 5em auto 0;
	}

}



/* Intro Section
--------------------------------------------------------- */
.intro {
	padding-top: 5em;
	p {
		max-width: 1028px;
		// margin: 0 auto;
	}
	.fa-magic {
		font-size: 0.7em;		
	}
}

.highlight {
	position: relative;
}
.highlight:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -4px;
	left: 6px;
	height: 18px;
	width: 90%;
	background: $secondaryColor-lightest;
	z-index: -10;
}

.no-break {
	white-space:nowrap;
}

.read-more {
	font: {
		weight: 400;
	}
	border-bottom: 2px solid $tertiaryColor;
	&:hover {
		font-style: italic;
	}
}


/* Latest Works Section
--------------------------------------------------------- */
// Masonry Layout
.work {
	margin-top: 3em;
}

.grid {
	padding-bottom: 2em;
}

.gutter-sizer {
	width: 1%;
}

.grid-sizer,
.grid-item {
	width: 100%;
	@media (min-width: $breakpointTablet){
		width: calc(50% - 0.5%);
	}
}

.grid-item {
	overflow: hidden;
	position: relative;
	margin-bottom: 0.5em;
	background: $tertiaryColor-dark;
	backface-visibility: hidden;

	@media (min-width: $breakpointTablet){
		margin-bottom: 1%;
	}

	// testing figure
	// figure {
	// 	width: 100%;
	// 	height: 100%;
	// 	margin: 0;
	// 	display: block;
	// 	opacity: 1;
	// 	transform: scale(1);
	// 	transition: all 0.5s ease;
	// 	overflow: hidden;
	// 	backface-visibility: hidden;
	// }

	img {	
		display: block;
		opacity: 1;
		transform: scale(1);
		transition: all 0.5s ease;
	}

	p {
		margin: 0.6em auto 0.6em;
	}

	.text-overlay {
		z-index: 500;
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: white;
		text-align: center;
		transition: all 0.5s ease;
		opacity: 0;
	}

	&:hover,
	&:focus {
		img {
			transform: scale(1.1);
			opacity: 0.2;
		}

		.text-overlay {
			opacity: 1;
		}

		a {
			font-style: normal;
		}
	}
}

// View All Projects Button
.view-all {
	border: 2px solid $secondaryColor;
	padding: 0.5em;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	color: $mainColor;
	font: {
		family: $navFont;
		weight: 500;
	}
	&:hover,
	&:focus {
		background-color: $secondaryColor-light;
	}
}

// Scroll to Top Button
.scroll-to-top {
	position: fixed;
	bottom: 9%;
	right: 6%;
	z-index: 999;
	font-size: 3em;
	display: none;
}


/* Contact Section
--------------------------------------------------------- */
.contact {
	margin: 6em 1.2em 0;
	padding-top: 1.5em;
	padding-bottom: 4em;
	border-top: 2px solid $mainColor-light;
	text-align: center;
	@media (min-width: $breakpointTablet){
		margin: 4em 4% 0;
	}

	.email {
		padding: 0 0 2em;
		margin: 0 auto;
		font-weight: 300;
		a {
			letter-spacing: 1px;
			&:hover {
				border-bottom: 2px solid $tertiaryColor;
				font-style: italic;
			}
		}
	}

	.social a{
		margin-right: 8px;
	}

}


/* Footer
--------------------------------------------------------- */
footer {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: $tertiaryColor-dark;
	color: white;
	p {
		margin: 0;
		text-align: center;
		font-size: 0.8em;
	}	

	.fa-heart {
		font-size: 0.8em;
	}
}



