@charset "utf-8";

@import "resets";
@import "variables";
@import "navigation";


/* Accessibility
--------------------------------------------------------- */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: white;
	clip: auto !important;
	color: black;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; 
}


/* General
--------------------------------------------------------- */
// ::-webkit-scrollbar {
//     width: 8px;
// }
 
// ::-webkit-scrollbar-track {
//     border-radius: 10px;
// }
 
// ::-webkit-scrollbar-thumb {
//     background: black; 
// }
// ::-webkit-scrollbar-thumb:window-inactive {
// 	background: black;
// }

::selection,
::-moz-selection {
    background: $secondaryColor-light;
}

*:focus {
	outline: 1px dotted $tertiaryColor-light;
}

body {
	max-width: 1920px;
}

h1,h2 {
	font: {
		family: $headFont;
		weight: 500;
	}
	line-height: 1.4;
	text-align: center;
}

h1 {
	font-size: 2.4em;
	margin-bottom: 0;
}

h2 {
	font-size: 1.6em;
}

p {
	font: {
		family: $bodyFont;
	}
}

a {
	text-decoration: none;
	cursor: pointer;
	color:$tertiaryColor-dark;
}

section {
	padding-bottom: 1em;
}

.centered {
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;

	@media (min-width: 768px) {
		padding-left: 4%;
		padding-right: 4%;
	}
}


/* Intro Section
--------------------------------------------------------- */
.intro {
	padding-top: 5em;

	p,h1,h2 {
		// text-align: center;
		// max-width: 570px;
	}

	.highlight {
		position: relative;
	}
	.highlight:after {
		content: "";
		display: block;
		position: absolute;
		bottom: -4px;
		left: 6px;
		height: 18px;
		width: 90%;
		background: $secondaryColor-lightest;
		z-index: -10;
	}

	.fa-magic {
		font-size: 0.7em;		
	}

}


/* Latest Works Section
--------------------------------------------------------- */
// Masonry Layout
.grid {
	padding-bottom: 2em;
}

.gutter-sizer {
	width: 1%;
}

.grid-sizer,
.grid-item {
	width: 100%;
	@media (min-width: $breakpointTablet){
		width: calc(50% - 0.5%);
	}
}

.grid-item {
	overflow: hidden;
	position: relative;
	margin-bottom: 0.5em;
	background: $tertiaryColor-dark;
	backface-visibility: hidden;

	@media (min-width: $breakpointTablet){
		margin-bottom: 1%;
	}

	img {	
		display: block;
		opacity: 1;
		transform: scale(1);
		transition: all 0.5s ease;
	}

	.text-overlay {
		z-index: 500;
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: white;
		text-align: center;
		transition: all 0.5s ease;
		opacity: 0;
	}

	&:hover,
	&:focus {
		img {
			transform: scale(1.1);
			opacity: 0.2;
		}

		.text-overlay {
			opacity: 1;
		}
	}
}

// View All Projects Button
.view-all {
	border: 2px solid $secondaryColor;
	padding: 0.5em;
	color: $mainColor;
	font: {
		family: $navFont;
		weight: 500;
	}
	&:hover,
	&:focus {
		background-color: $secondaryColor-light;
	}
	
}

// Scroll to Top Button
.scroll-to-top {
	position: fixed;
	bottom: 9%;
	right: 6%;
	z-index: 999;
	font-size: 3em;
	display: none;
	// color: $mainColor-light;
	// i {
	// 	text-shadow: 0px 3px 0px rgba(146, 255, 229, 1),
	// 					 0px 2px 0px rgba(146, 255, 229, 1),
	// 					 0px 2px 0px rgba(146, 255, 229, 1);
	// }

}


/* Contact Section
--------------------------------------------------------- */
.contact {
	margin: 4em 1.2em 0;
	padding-top: 1.5em;
	padding-bottom: 4em;
	border-top: 2px solid $mainColor-light;
	text-align: center;
	@media (min-width: $breakpointTablet){
		margin: 4em 4% 0;
	}

	.email {
		padding: 0 0 2em;
		margin: 0 auto;
		font-weight: 300;
		a {
			letter-spacing: 2px;
		}
	}

	.social a{
		margin-right: 8px;
	}

}

.no-break {
	white-space:nowrap;
}


/* Footer
--------------------------------------------------------- */
footer {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: $tertiaryColor-dark;
	color: white;
	font-size: 12px;
	p {
		margin: 0;
		text-align: center;
	}	
}



