/* Resets
--------------------------------------------------------- */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

/* Navigation
--------------------------------------------------------- */
nav ul {
  list-style: none;
  padding-left: 0; }

nav ul a {
  color: #000;
  font-family: Work Sans, sans-serif;
  font-size: 1em; }

.nav-wrapper {
  padding-top: 1em;
  padding-bottom: 0.2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  transition: background-color 0.5s ease;
  background-color: rgba(255, 255, 255, 0); }

.nav-wrapper .logo {
  float: left;
  width: 4.5em;
  height: 2.3em;
  display: block;
  background-image: url("../images/logo-6.svg");
  background-repeat: no-repeat; }

.nav-wrapper .logo:hover {
  background-image: url("../images/logo-6-hover.svg"); }

.nav-wrapper .btnMenu {
  float: right;
  padding: 0;
  margin-bottom: 12px;
  position: relative;
  font-family: Work Sans, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  border: none;
  background-color: transparent; }

.nav-wrapper .btnMenu:before {
  content: 'menu';
  padding-right: 40px; }

@media (min-width: 600px) {
  .nav-wrapper .btnMenu {
    display: none;
    margin-bottom: 0; } }

.nav-wrapper .btnMenu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 30%;
  background: black;
  border-radius: 8px;
  opacity: 1;
  right: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out; }

.nav-wrapper .btnMenu span:nth-child(1) {
  top: 3px; }

.nav-wrapper .btnMenu span:nth-child(2),
.nav-wrapper .btnMenu span:nth-child(3) {
  top: 11px; }

.nav-wrapper .btnMenu span:nth-child(4) {
  top: 19px; }

.nav-wrapper .btnMenu.animate span:nth-child(1) {
  top: 11px;
  width: 0%;
  opacity: 0; }

.nav-wrapper .btnMenu.animate span:nth-child(2) {
  transform: rotate(45deg); }

.nav-wrapper .btnMenu.animate span:nth-child(3) {
  transform: rotate(-45deg); }

.nav-wrapper .btnMenu.animate span:nth-child(4) {
  top: 11px;
  width: 0%;
  opacity: 0; }

.opaque {
  background-color: rgba(255, 255, 255, 0.9); }

.show-mobile-nav .main-nav {
  height: 200px; }

.main-nav {
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
  width: 100%;
  text-align: center; }

@media (min-width: 600px) {
  .main-nav {
    float: right;
    height: 35px;
    width: 50%;
    text-align: right; }
  .main-nav ul {
    margin: 0; } }

.main-nav li {
  margin-top: 1.5em; }

@media (min-width: 600px) {
  .main-nav li {
    margin-top: 0;
    display: inline-block; } }

.main-nav a {
  width: 100%;
  margin-left: 0;
  font-size: 1.5em;
  font-weight: 500;
  transition: letter-spacing .5s ease-in-out; }

@media (min-width: 600px) {
  .main-nav a {
    font-size: 1.2em;
    margin-left: 1em; } }

.hvr-underline {
  position: relative; }

.hvr-underline:hover::after,
.hvr-underline:focus::after,
.hvr-underline:active::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  z-index: -1;
  content: "";
  border: 6px solid #c5fff1; }

/* Underline From Center */
/* Project Page Styles
--------------------------------------------------------- */
/* Accessibility
--------------------------------------------------------- */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: white;
  clip: auto !important;
  color: black;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

/* General
--------------------------------------------------------- */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  border: 1px solid black; }

::-webkit-scrollbar-thumb {
  background: black; }

::-webkit-scrollbar-thumb:window-inactive {
  background: black; }

::selection {
  background: #b1ffec; }

*:focus {
  outline: 1px dotted #92ffe5; }

.clear:after {
  display: table;
  content: '';
  clear: both; }

body {
  max-width: 1920px; }

h1, h2 {
  font-family: Work Sans, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  margin: 0 auto; }

h1 {
  font-size: 2.4em;
  margin: 1.6rem auto 0; }

h2 {
  font-size: 1.6em;
  margin: 1rem auto 1rem; }

h3 {
  margin: 0 auto; }

p {
  margin: 1.5em auto 1.5em;
  font-family: Roboto Mono, sans-serif;
  font-weight: 300;
  font-size: 15px; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #533ae9;
  font-family: Roboto Mono, sans-serif; }

.centered {
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em; }

@media (min-width: 768px) {
  .centered {
    padding-left: 4%;
    padding-right: 4%; } }

/* Header Section
--------------------------------------------------------- */
header {
  height: 300px;
  transition: height 0.3s ease; }

@media (min-width: 450px) {
  header {
    height: 380px; } }

@media (min-width: 530px) {
  header {
    height: 430px; } }

.parallax {
  position: absolute;
  width: 100%;
  height: 600px;
  overflow: hidden;
  left: 0; }

.confetti {
  position: absolute;
  width: 180%;
  height: 600px;
  left: 0;
  margin-top: 20px;
  background-position: top center;
  background-repeat: repeat-x;
  transition: width 0.3s ease-in-out; }

@media (min-width: 480px) {
  .confetti {
    width: 180%; } }

@media (min-width: 600px) {
  .confetti {
    width: 130%; } }

@media (min-width: 850px) {
  .confetti {
    width: 100%; } }

.confetti-blue {
  background-image: url("../images/confetti-blue-2.svg"); }

.confetti-green {
  background-image: url("../images/confetti-green-2.svg"); }

.confetti-purple {
  background-image: url("../images/confetti-purple-2.svg"); }

@keyframes floating {
  0% {
    transform: translatey(0); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0); } }

.balloon {
  width: 100%;
  transform: translatey(0);
  animation: floating 3.5s ease-in-out infinite; }

.balloon img {
  width: 50%;
  max-width: 280px;
  display: block;
  margin: 5em auto 0; }

/* Intro Section
--------------------------------------------------------- */
.intro {
  padding-top: 5em; }

.intro p {
  max-width: 1028px; }

.intro .fa-magic {
  font-size: 0.7em; }

.highlight {
  position: relative; }

.highlight:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 6px;
  height: 18px;
  width: 90%;
  background: #c5fff1;
  z-index: -10; }

.no-break {
  white-space: nowrap; }

.read-more {
  font-weight: 400;
  border-bottom: 2px solid #7B68EE; }

.read-more:hover {
  font-style: italic; }

/* Latest Works Section
--------------------------------------------------------- */
.work {
  margin-top: 3em; }

.grid {
  padding-bottom: 2em; }

.gutter-sizer {
  width: 1%; }

.grid-sizer,
.grid-item {
  width: 100%; }

@media (min-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: calc(50% - 0.5%); } }

.grid-item {
  overflow: hidden;
  position: relative;
  margin-bottom: 0.5em;
  background: #533ae9;
  backface-visibility: hidden; }

@media (min-width: 768px) {
  .grid-item {
    margin-bottom: 1%; } }

.grid-item img {
  display: block;
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease; }

.grid-item p {
  margin: 0.6em auto 0.6em; }

.grid-item .text-overlay {
  z-index: 500;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  transition: all 0.5s ease;
  opacity: 0; }

.grid-item:hover img, .grid-item:focus img {
  transform: scale(1.1);
  opacity: 0.2; }

.grid-item:hover .text-overlay, .grid-item:focus .text-overlay {
  opacity: 1; }

.grid-item:hover a, .grid-item:focus a {
  font-style: normal; }

.view-all {
  border: 2px solid #92ffe5;
  padding: 0.5em;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #000;
  font-family: Work Sans, sans-serif;
  font-weight: 500; }

.view-all:hover, .view-all:focus {
  background-color: #b1ffec; }

.scroll-to-top {
  position: fixed;
  bottom: 9%;
  right: 6%;
  z-index: 999;
  font-size: 3em;
  display: none; }

/* Contact Section
--------------------------------------------------------- */
.contact {
  margin: 6em 1.2em 0;
  padding-top: 1.5em;
  padding-bottom: 4em;
  border-top: 2px solid #333333;
  text-align: center; }

@media (min-width: 768px) {
  .contact {
    margin: 4em 4% 0; } }

.contact .email {
  padding: 0 0 2em;
  margin: 0 auto;
  font-weight: 300; }

.contact .email a {
  letter-spacing: 1px; }

.contact .email a:hover {
  border-bottom: 2px solid #7B68EE;
  font-style: italic; }

.contact .social a {
  margin-right: 8px; }

/* Footer
--------------------------------------------------------- */
footer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #533ae9;
  color: white; }

footer p {
  margin: 0;
  text-align: center;
  font-size: 0.8em; }

footer .fa-heart {
  font-size: 0.8em; }
